name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-repo

      - name: Build packages
        run: pnpm build

      - name: Run tests
        run: pnpm test

      - name: Run typecheck
        run: pnpm typecheck
